<%= form_with model: @task do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <%= @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <%= @task.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>


  <div>
    <%= form.label :due %><br>
    <%= form.datetime_select :due %>
    <%= @task.errors.full_messages_for(:due).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :priority %><br>
    <%= form.collection_radio_buttons :priority, ["High", "Medium", "Low"], :to_s, :to_s %>
    <%= @task.errors.full_messages_for(:priority).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :tag %><br>
    <%= form.text_area :tag %>
    <%= @task.errors.full_messages_for(:tag).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>

<% end %>
