<%= form_with model: @task do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= @task.errors.full_messages_for(:name).each do |message| %>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <br>


  <div>
    <%= form.label :due %><br>
    <%= form.datetime_select :due %>
    <%= @task.errors.full_messages_for(:due).each do |message| %>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :priority %><br>
    <%= form.collection_radio_buttons :priority, ["High", "Medium", "Low"], :to_s, :to_s %>
    <%= @task.errors.full_messages_for(:priority).each do |message| %>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.label :tag %><br>
    <%= form.text_area :tag %>
  </div>
  <br>

  <div>
    <%= form.radio_button :is_done, true %>
    <%= form.label :is_done, "True", :value => true %>
    <%= form.radio_button :is_done, false, :checked => true %>
    <%= form.label :is_done, "False", :value => false %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>

<% end %>
