<h1>Task Manager</h1>

<% 
=begin %> 
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task %>
      <%# todo display this like "4 days from now" and "3 hours from now" %>
      <%= task.due.strftime("%B %d %Y, %l:%M%P") %> 
      <%# todo maybe diff colours for the priority? %>
      <%= task.priority %>
    </li>
  <% end %>
</ul>
<% 
=end %>

<table class="pretty">
  <tr>
    <th><%= link_to "Title", :sort => "title" %></th>
    <th><%= link_to "Due", :sort => "due" %></th>
    <th><%= link_to "Priority", :sort => "priority" %></th>
    <th><%= link_to "Body", :sort => "body" %></th>
    <th><%= link_to "Tag", :sort => "tag" %></th>
    <th><%= link_to "Created at", :sort => "created_at" %></th>
  </tr>
  <% for task in @tasks %>
  <tr>
    <td><%= link_to task.title, task %></td>
    <td><%= task.due.strftime("%l:%M%P") %></td>
    <td><%= task.priority %></td>
    <td><%= task.body %></td>
    <td><%= task.tag %></td>
    <td><%= task.created_at.strftime("%l:%M%P") %></td>
  </tr>
  <% end %>
</table><br>

<%= link_to "New Task", new_task_path %>
